# ------------------------------------------------------------
#  Venv 
# ------------------------------------------------------------
/*/venv

# ------------------------------------------------------------
#  Compiled objects & static libs
# ------------------------------------------------------------
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.lo
**/*.la
**/*.slo

# ------------------------------------------------------------
#  Shared / dynamic libraries
# ------------------------------------------------------------
**/*.so
**/*.so.*
**/*.dylib
**/*.dll
**/*.pdb
 
# ------------------------------------------------------------
#  Executables
# ------------------------------------------------------------
**/*.exe
**/*.out
**/*.app
**/*.elf
**/*.bin
**/*.hex
**/*.com

**/build/*

# ------------------------------------------------------------
#  Debug / profiling artifacts
# ------------------------------------------------------------
gmon.out
perf.data
perf.data.old
